extends layout/main

block variables
	- var title            = 'Page not found';
	- var description      = 'Error - page not found';

block content
	h1 404 - Page not found
	a(href='/') Go to main page

