extends layout/main

block variables
	- var pageClass        = 'index-page';
	- var title            = 'Index page';
	- var description      = 'Description for main page';


block content
	h1 Hi, Iam main page
	p Edit me

block script
	//script(src='')
