@import 'utils/mixin.styl'
@import 'utils/vars.styl'
@import 'utils/fonts.styl'
@import 'libs.styl'

//Settings
html
	line-height 1.4
	font-size mainFontSize
	color htmlColor

body
	font-family mainFont

h1,h2,h3,h4,h5,h6
	margin 0

ul,li
	margin 0
	padding 0
	list-style-type none

p
	margin 0

a
	text-decoration none
	color blackColor

audio,
canvas,
iframe,
img,
svg,
video
	vertical-align middle

section
	position relative
	padding 60px 0

textarea
	resize none

input,
select,
button
	outline none

*, *:before, *:after
	box-sizing border-box

//Main
.container
	width 100%
	max-width desktopWidth
	margin 0 auto
	position relative
	padding 0 60px

.wrapper
	display: flex
	flex-direction column
	min-height 100vh

.content-wrapper
	display flex
	flex-direction column
	flex 1


//GLOBAL STYL

//Title
@import 'global/titles.styl'

//Buttons
@import 'global/buttons.styl'

//Forms
@import 'global/forms.styl'


//MODULES

//Header
@import 'modules/header.styl'

//Footer
@import 'modules/footer.styl'


//PAGES

//Index
@import 'pages/index.styl'
